$body-top: 10%;
$body-top-min: 50px;
$body-left: 200px;
$body-bottom: 5%;
$body-bottom-min: 20px;
$black: #000000;
$dark: #434343;
$dark-1: #141414;
$dark-2: #323130;
$dark-3: #001529;
$dark-6: #bfbfbf;
$outline-dark: #303030;
$white: #ffffff;
$font-light: rgba(255, 255, 255, 1);
$font-light-45: rgba(255, 255, 255, 0.45);
$font-light-65: rgba(255, 255, 255, 0.65);
$font-light-85: rgba(255, 255, 255, 0.85);
.home-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1000px;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  color: $black;

  [data-scheme='dark'] & {
    color: $white;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: $white;

    [data-scheme='dark'] & {
      background-color: $dark-1;
    }
  }

  ::-webkit-scrollbar-thumb {
    background-color: $dark-6;
  }

  .home-left {
    width: $body-left;
    height: 100%;

    .silder {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $white;
      width: $body-left;
      outline: 1px solid rgb(219, 219, 219);
      height: 100%;
      z-index: 120;
      display: flex;
      flex-flow: column;

      [data-scheme='dark'] & {
        background-color: $dark-3;
        outline: 1px solid $outline-dark;
      }

      .top {
        height: $body-top;
        width: 100%;
        outline: 1px solid rgb(219, 219, 219);
        background-color: $white;
        display: flex;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;

        [data-scheme='dark'] & {
          outline: 1px solid $dark-1;
          background-color: $dark-1;
        }

        .logo {
          position: absolute;
          left: 25px;
          top: 23px;
        }

        .ant-typography {
          position: relative;
          left: 55px;
          top: -10px;
        }
      }

      .silder_content {
        display: flex;
        width: 100%;
        height: calc(100% - #{$body-top});
        position: absolute;
        top: $body-top;
        left: 0;
        overflow-y: auto;

        .playout-menu {
          width: 100%;

          [data-scheme='dark'] & {
            .ant-menu {
              color: rgba(255, 255, 255, 0.65);
              background: #001529;
            }
          }
        }
      }
    }
  }

  .home-right {
    width: calc(100% - #{$body-left});
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
      position: absolute;
      top: 0;
      left: $body-left;
      width: calc(100% - #{$body-left});
      height: $body-top;
      min-height: $body-top-min;
      background-color: $white;
      outline: 1px solid rgb(219, 219, 219);
      z-index: 120;
      display: flex;
      justify-content: space-between;
      align-items: center;

      [data-scheme='dark'] & {
        background-color: $dark-1;
        outline: 1px solid $outline-dark;
      }

      .ant-breadcrumb {
        padding-left: 20px;
        color: $black;

        [data-scheme='dark'] & {
          color: $white;
        }

        li {
          &:last-child a {
            color: #8395a7;
          }

          [data-scheme='dark'] & {
            .ant-breadcrumb-link {
              a {
                color: #f1f2f6;
              }
            }

            .ant-breadcrumb-separator {
              color: $white;
            }
          }
        }
      }

      .right {
        right: 20px;
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
      }
    }

    .content {
      position: absolute;
      left: $body-left;
      top: $body-top;
      width: calc(100% - #{$body-left});
      height: calc(100% - #{$body-top} - #{$body-bottom});
      overflow-x: hidden;
      overflow-y: auto;
      background-color: $white;
      color: $black;

      [data-scheme='dark'] & {
        background-color: $dark-2;
        color: $white;
      }
    }

    .footer {
      position: absolute;
      left: $body-left;
      bottom: 0;
      width: calc(100% - #{$body-left});
      height: $body-bottom;
      min-height: $body-bottom-min;
      background-color: $white;
      outline: 1px solid rgb(219, 219, 219);
      color: #8c8c8c;
      z-index: 100;

      [data-scheme='dark'] & {
        background-color: $dark-1;
        outline: 1px solid $outline-dark;
      }

      .bq {
        width: 100%;
        height: 100%;

        span {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
