$body-top: 10%;
$body-top-min: 50px;
$body-left: 200px;
$body-bottom: 5%;
$body-bottom-min: 20px;
$white: #ffffff;
$dark-6: #bfbfbf;
$black: #000000;
.home-body-light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 600px;
    height: 100%;
    display: flex;
    background-color: $black;
    box-sizing: border-box;

    ::-webkit-scrollbar {
        width: 4px;
        background-color: $white;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $dark-6;
    }

    .home-left {
        width: $body-left;
        height: 100%;

        .silder {
            position: absolute;
            top: 0;
            left: 0;
            background-color: $white;
            width: $body-left;
            outline: 1px solid rgb(219, 219, 219);
            height: 100%;
            z-index: 120;
            display: flex;
            flex-flow: column;

            .top {
                height: $body-top;
                width: 100%;
                outline: 1px solid rgb(219, 219, 219);
                display: flex;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;

                .logo {
                    position: absolute;
                    left: 25px;
                    top: 23px;
                }

                .ant-typography {
                    position: relative;
                    left: 55px;
                    top: 20px;
                }
            }

            .silder_content {
                display: flex;
                width: 100%;
                height: calc(100% - #{$body-top});
                position: absolute;
                top: $body-top;
                left: 0;
                overflow-y: auto;


                .playout-menu {
                    width: 100%;
                }


            }

            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }

    .home-right {
        width: calc(100% - #{$body-left});
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header {
            position: absolute;
            top: 0;
            left: $body-left;
            width: calc(100% - #{$body-left});
            height: $body-top;
            min-height: $body-top-min;
            background-color: $white;
            outline: 1px solid rgb(219, 219, 219);
            z-index: 120;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top-right-radius: 10px;

            .ant-breadcrumb {
                padding-left: 20px;

                li:last-child a {
                    color: #8395a7;
                }
            }

            .right {
                right: 20px;
                height: 100%;
                width: 20%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 10px;
            }
        }

        .content {
            position: absolute;
            left: $body-left;
            top: $body-top;
            width: calc(100% - #{$body-left});
            height: calc(100% - #{$body-top} - #{$body-bottom});
            overflow-x: hidden;
            overflow-y: auto;
            background-color: $white;
        }

        .footer {
            position: absolute;
            left: $body-left;
            bottom: 0;
            width: calc(100% - #{$body-left});
            height: $body-bottom;
            min-height: $body-bottom-min;
            background-color: $white;
            outline: 1px solid rgb(219, 219, 219);
            border-bottom-right-radius: 10px;
            color: #8c8c8c;
            z-index: 100;

            span {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                // 不换行
                white-space: nowrap;
                // 文字超出宽度时显示省略号
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
