@use 'sass:meta';

body.light {
    @include meta.load-css('node_modules/antd/dist/antd.css', $with: null);
}

body.dark {
    @include meta.load-css('node_modules/antd/dist/antd.dark.css', $with: null);
}


.ant-modal-content {
    background-color: transparent;

    .ant-modal-header {
        background: transparent;
    }

    .ant-modal-body {
        background: transparent;
    }

    .ant-modal-footer {
        background: transparent;
    }
}

.ant-drawer-content {
    background: transparent;
}

.ant-message-notice-content {
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.6);
}
