@use 'sass:meta';

body {
    &[theme="dark"] {
        @include meta.load-css('node_modules/antd/dist/antd.dark.css', $with: null);
        background-color: #323130;

        .back-drop {
            backdrop-filter: blur(20px) saturate(180%);
            -webkit-backdrop-filter: blur(20px) saturate(180%);
            background-color: rgba(0, 0, 0, 0.6);
        }

        .ant-spin.ant-spin-spinning {
            background-color: transparent;

            .ant-spin-dot {
                color: #ffffff;
            }
        }
    }

    &[theme="light"] {
        @include meta.load-css('node_modules/antd/dist/antd.css', $with: null);
        background-color: #fff;

        .back-drop {
            backdrop-filter: blur(20px) saturate(180%);
            -webkit-backdrop-filter: blur(20px) saturate(180%);
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
}


