::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 1000px;
    height: 100%;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    color: #000000;
}

[data-scheme="dark"] body {
    background-color: #323130;
    color: #ffffff;
}

a {
    color: #1677ff;
}
