::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    background-color: rgba(240, 240, 240, 1);
}

::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #000000;
}

[data-scheme="dark"] body {
    background-color: #323130;
    color: #ffffff;
}

a {
    color: #1677ff;
}

[data-gaussianBlur="true"][data-scheme="light"] .ant-message-notice-content {
    background-color: rgba(240, 240, 240, 0.4);
    backdrop-filter: blur(40px) saturate(180%);
}

/* 适配深色模式下 messgae 没有跟随深色模式的 BUG */
[data-scheme="dark"] .ant-message-notice-content {
    background-color: rgba(31, 31, 31, 1);
}

[data-scheme="dark"] .ant-message-notice-content span:last-child {
    color: #ffffff;
}

[data-gaussianBlur="true"][data-scheme="dark"] .ant-message-notice-content {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px) saturate(180%);
}
